@import url(https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900);

a,
b,
body,
center,
div,
font,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
img,
li,
nav,
p,
s,
section,
small,
span,
ul,
var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0
}

li,
ul {
	padding: 0;
	margin: 0;
	list-style: none
}

footer,
header,
nav,
section {
	display: block
}

* {
	box-sizing: border-box
}

body,
html {
	font-family: Poppins, sans-serif;
	font-weight: 400;
	background-color: white;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
	text-decoration: none !important
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 0
}

ul {
	margin-bottom: 0
}

p {
	font-size: 14px;
	line-height: 25px;
	color: #63666a
}

body,
html {
	background: white;
	font-family: Poppins, sans-serif
}

::selection {
	background: #63666a;
	color: white
}

::-moz-selection {
	background: #63666a;
	color: white
}

@media (max-width:991px) {

	body,
	html {
		overflow-x: hidden
	}
}

.main-border-button a {
	font-size: 13px;
	color: white;
	border: 1px solid white;
	padding: 12px 25px;
	display: inline-block;
	font-weight: 500;
	transition: all .3s
}

.main-border-button a:hover {
	background-color: white;
	color: #000000
}

.main-text-button a {
	font-size: 13px;
	color: white;
	font-weight: 600;
	transition: all .3s
}

.main-text-button a:hover {
	opacity: .9
}

.section-heading h2 {
	font-size: 34px;
	font-weight: 700;
	color: #000000
}

.section-heading span {
	font-size: 14px;
	color: #000000;
	font-style: italic;
	font-weight: 400
}

.header-area {
	box-shadow: none;
	background-color: #ffcd00;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 100px;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	transition: all .5s ease 0s
}

.header-area .main-nav {
	min-height: 80px;
	background: 0 0
}

.header-area .main-nav .logo {
	line-height: 100px;
	color: white;
	font-size: 28px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	float: left;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s
}

.header-area .main-nav .logo img {
	max-width: 325px;
	height: auto;
	display: block;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	transform: translate(-50px, 25px)
}

.header-area .main-nav .nav {
	float: right;
	margin-top: 30px;
	margin-right: 0;
	background-color: transparent;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	position: relative;
	z-index: 999
}

.header-area .main-nav .nav li {
	padding-left: 15px;
	padding-right: 10px
}

.header-area .main-nav .nav li:last-child {
	padding-right: 0
}

.header-area .main-nav .nav li a {
	display: block;
	font-weight: 600;
	font-size: 17px;
	color: #000000;
	text-transform: capitalize;
	-webkit-transition: all .3s ease 0s;
	-moz-transition: all .3s ease 0s;
	-o-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	height: 40px;
	line-height: 40px;
	border: transparent;
	letter-spacing: 1px
}

.header-area .main-nav .nav li a {
	color: white
}

.header-area .main-nav .nav li:hover a {
	color: #000000 !important
}

.header-area .main-nav .menu-trigger {
	cursor: pointer;
	display: block;
	position: absolute;
	top: 33px;
	width: 32px;
	height: 40px;
	text-indent: -9999em;
	z-index: 99;
	right: 40px;
	display: none
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	background-color: #000000;
	display: block;
	position: absolute;
	width: 30px;
	height: 2px;
	left: 0
}

.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
	-moz-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
	background-color: #000000;
	display: block;
	position: absolute;
	width: 30px;
	height: 2px;
	left: 0;
	width: 75%
}

.header-area .main-nav .menu-trigger span:after,
.header-area .main-nav .menu-trigger span:before {
	content: ""
}

.header-area .main-nav .menu-trigger span {
	top: 16px
}

.header-area .main-nav .menu-trigger span:before {
	-moz-transform-origin: 33% 100%;
	-ms-transform-origin: 33% 100%;
	-webkit-transform-origin: 33% 100%;
	transform-origin: 33% 100%;
	top: -10px;
	z-index: 10
}

.header-area .main-nav .menu-trigger span:after {
	-moz-transform-origin: 33% 0;
	-ms-transform-origin: 33% 0;
	-webkit-transform-origin: 33% 0;
	transform-origin: 33% 0;
	top: 10px
}

.header-area.header-sticky {
	min-height: 80px
}

.header-area .nav {
	margin-top: 30px
}

@media (max-width:1200px) {
	.header-area .main-nav .nav li {
		padding-left: 12px;
		padding-right: 12px
	}

	.header-area .main-nav:before {
		display: none
	}
}

@media (max-width:767px) {
	.header-area .main-nav .logo {
		color: #000000
	}

	.header-area.header-sticky .nav li a:hover {
		color: #63666a !important;
		opacity: 1
	}

	.header-area {
		background-color: white;
		padding: 0 15px;
		height: 100px;
		box-shadow: none;
		text-align: center
	}

	.header-area .container {
		padding: 0
	}

	.header-area .logo {
		margin-left: 30px
	}

	.header-area .menu-trigger {
		display: block !important
	}

	.header-area .main-nav {
		overflow: hidden
	}

	.header-area .main-nav .nav {
		float: none;
		width: 100%;
		display: none;
		-webkit-transition: all 0s ease 0s;
		-moz-transition: all 0s ease 0s;
		-o-transition: all 0s ease 0s;
		transition: all 0s ease 0s;
		margin-left: 0
	}

	.header-area .main-nav .nav li:first-child {
		border-top: 1px solid #63666A
	}

	.header-area.header-sticky .nav {
		margin-top: 100px !important
	}

	.header-area .main-nav .nav li {
		width: 100%;
		background: white;
		border-bottom: 1px solid #63666A;
		padding-left: 0 !important;
		padding-right: 0 !important
	}

	.header-area .main-nav .nav li a {
		height: 50px !important;
		line-height: 50px !important;
		padding: 0 !important;
		border: none !important;
		background: white !important;
		color: #000000 !important
	}

	.header-area .main-nav .nav li a:hover {
		background: #63666A !important;
		color: #63666a !important
	}
}

@media (min-width:767px) {
	.header-area .main-nav .nav {
		display: flex !important
	}
}

.main-banner {
	padding-top: 50px;
	padding-bottom: 50px
}

.main-banner .container-fluid {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch
}

.main-banner .left-content,
.main-banner .right-content {
	height: 100%
}

.main-banner .left-content {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%
}

.main-banner .left-content .thumb {
	position: relative;
	width: 100%;
	height: 100%
}

.main-banner .left-content .thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden
}

.main-banner .left-content .inner-content {
	position: absolute;
	left: 100px;
	top: 50%;
	transform: translateY(-50%)
}

.main-banner .left-content .inner-content h4 {
	color: white;
	margin-top: -10px;
	font-size: 52px;
	font-weight: 700;
	margin-bottom: 20px
}

.main-banner .left-content .inner-content span {
	font-size: 16px;
	color: white;
	font-weight: 400;
	font-style: italic;
	display: block;
	margin-bottom: 30px
}

.main-banner .right-content {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 100%
}

.main-banner .right-content .col-lg-6 {
	padding: 10px;
	box-sizing: border-box
}

.main-banner .right-content .right-first-image {
	margin-bottom: 0;
	flex: 1 1 50%;
	height: 100%
}

.main-banner .right-content .right-first-image .thumb {
	position: relative;
	height: 100%
}

.main-banner .right-content .right-first-image .thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden
}

.main-banner .right-content .right-first-image .thumb .inner-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center
}

.main-banner .right-content .right-first-image .thumb .inner-content h4 {
	color: white;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px
}

footer {
	padding: 10px 0 20px 0;
	background-color: #FFCD00
}

footer .under-footer {
	margin-top: 5px;
	padding-top: 5px;
	text-align: center
}

footer .under-footer p {
	color: #000000;
	font-size: 14px;
	font-weight: 300
}

footer .under-footer a {
	color: #000000
}

footer .under-footer a:hover {
	color: white
}

.carver-heading {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(../images/carver-banner.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.carver-heading .inner-content {
	padding: 150px 0;
	text-align: center
}

.carver-heading .inner-content h2 {
	font-size: 52px;
	color: white;
	font-weight: 700;
	margin-bottom: 15px
}

.carver-heading .inner-content span {
	font-size: 16px;
	font-weight: 500;
	color: white;
	font-style: italic
}

.kinnick-heading {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(../images/kinnick-banner.webp);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.kinnick-heading .inner-content {
	padding: 150px 0;
	text-align: center
}

.kinnick-heading .inner-content h2 {
	font-size: 52px;
	color: white;
	font-weight: 700;
	margin-bottom: 15px
}

.kinnick-heading .inner-content span {
	font-size: 16px;
	font-weight: 500;
	color: white;
	font-style: italic
}

.contact-heading {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(../images/contact-banner.jpeg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.contact-heading .inner-content {
	padding: 150px 0;
	text-align: center
}

.contact-heading .inner-content h2 {
	font-size: 52px;
	color: white;
	font-weight: 700;
	margin-bottom: 15px
}

.contact-heading .inner-content span {
	font-size: 16px;
	font-weight: 500;
	color: white;
	font-style: italic
}

.other-heading {
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: url(../images/iowa-flags.jpeg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat
}

.other-heading .inner-content {
	padding: 150px 0;
	text-align: center
}

.other-heading .inner-content h2 {
	font-size: 52px;
	color: white;
	font-weight: 700;
	margin-bottom: 15px
}

.other-heading .inner-content span {
	font-size: 16px;
	font-weight: 500;
	color: white;
	font-style: italic
}

#products .section-heading {
	text-align: center;
	margin-bottom: 50px;
	margin-top: 50px
}

#products .item {
	margin-bottom: 50px
}

#products .thumb img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block
}

#products .thumb {
	height: 350px;
	width: 100%;
	overflow: hidden
}

#products .item .down-content {
	position: center;
	z-index: 3;
	background-color: white
}

#products .item .down-content h4 {
	font-size: 22px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 8px
}

#products .item .down-content span {
	font-size: 18px;
	color: #000000;
	font-weight: 500;
	display: block
}

.about-us {
	margin-top: 80px
}

.about-us .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column
}

.about-us .row {
	display: flex;
	align-items: center
}

.about-us .left-image img {
	width: 100%;
	overflow: hidden
}

.about-us .right-content {
	margin-left: 30px
}

.about-us .right-content h4 {
	font-size: 34px;
	font-weight: 700;
	color: #000000
}

.about-us .right-content p {
	font-size: 16px;
	text-align: justify;
	color: #000000;
	font-weight: 500;
	display: block;
	margin-top: 25px
}

.our-team {
	margin-top: 100px;
	padding-top: 90px;
	padding-bottom: 90px;
	border-top: 3px dotted #BBBCBC
}

.our-team .section-heading {
	margin-bottom: 60px;
	text-align: center
}

.our-team .section-heading h2 {
	margin-bottom: 10px
}

.our-team .team-item .thumb {
	position: relative;
	height: 300px;
	width: 100%;
	overflow: hidden
}

.our-team .team-item .thumb img {
	height: 100%;
	width: 100%;
	object-fit: cover
}

.our-team .team-item .down-content {
	text-align: center;
	padding-top: 25px
}

.our-team .team-item .down-content h4 {
	font-size: 24px;
	color: #000000;
	font-weight: 700;
	margin-bottom: 5px
}

.our-team .team-item .down-content span {
	font-size: 14px;
	color: #63666A;
	font-weight: 500;
	display: block;
	font-style: italic
}

.our-services {
	padding-top: 90px;
	padding-bottom: 90px;
	border-top: 3px dotted #BBBCBC;
}

.our-services .section-heading {
	margin-bottom: 60px;
	text-align: center
}

.our-services .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between
}

.our-services .row {
	display: flex;
	flex-wrap: wrap;
	width: 100%
}

.our-services .col-lg-12,
.our-services .col-lg-4,
.our-services .col-lg-6 {
	display: flex;
	align-items: stretch;
	padding: 10px
}

.our-services .service-item {
	padding: 25px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 1;
	margin-bottom: 0px
}

.our-services .service-item h4 {
	font-size: 24px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 20px
}

.our-services .service-item p {
	color: #63666A;
	font-size: 16px;
	margin-bottom: 20px
}

.contact-us {
	margin-top: 90px;
	padding-bottom: 90px
}

.contact-us .section-heading {
	margin-bottom: 40px
}

.contact-us form input {
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #63666a;
	border-radius: 0;
	border: 1px solid #63666A;
	box-shadow: none
}

.contact-us form input::focus {
	border-color: #000000;
	border-radius: 0
}

.contact-us form select {
	width: 100%;
	height: 44px;
	margin-top: 30px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #63666a;
	border-radius: 0;
	border: 1px solid #63666A;
	box-shadow: none
}

.contact-us form select::focus {
	border-color: #000000;
	border-radius: 0
}

.contact-us form textarea {
	width: 100%;
	height: 140px;
	min-height: 120px;
	max-height: 200px;
	margin-top: 30px;
	margin-bottom: 25px;
	line-height: 44px;
	padding: 0 15px;
	font-size: 14px;
	font-style: italic;
	font-weight: 500;
	color: #63666a;
	border-radius: 0;
	border: 1px solid #63666A;
	box-shadow: none
}

.contact-us form textarea::focus {
	border-color: #000000;
	border-radius: 0
}

.contact-us form button {
	width: 44px;
	height: 44px;
	display: inline-block;
	text-align: center;
	line-height: 44px;
	background-color: #000000;
	box-shadow: none;
	border: 1px solid transparent;
	color: white;
	transition: all .3s
}

.contact-us form button:hover {
	background-color: white;
	border: 1px solid #000000;
	color: #000000
}

@media (max-width:992px) {
	.header-area .main-nav .nav li {
		padding-right: 5px;
		padding-left: 5px
	}

	.header-area .main-nav .nav li a {
		font-size: 14px;
		letter-spacing: 0
	}

	.main-banner .left-content {
		margin-bottom: 30px
	}

	.about-us .right-content {
		margin-left: 0;
		margin-top: 30px
	}

	.our-team .team-item {
		margin-bottom: 30px
	}

	.our-services .service-item {
		margin-bottom: 30px
	}
}

@media (max-width:767px) {
	.main-banner .left-content .thumb .inner-content {
		left: 50%;
		top: 47.5%;
		transform: translate(-50%, -50%);
		text-align: center
	}

	footer {
		text-align: center
	}

	footer h4 {
		margin-top: 30px
	}
}